.title {
    font-size: 36px;
    margin-bottom: 10px;
}

.result {
    font-weight: bold;

    div {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 48px;
    }

    &__similar {
        color: black;
    }

    &__info {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        color: black;
        background-color: white;

        &__right {
            margin-top: 30px;
            margin-left: 50px;

            &__title {
                font-size: 30px;
            }

            &__text {
                max-width: 80%;
                font-size: 16px;
                line-height: 1.5;
                margin-top: 20px;
            }
        }
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;

        &__img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
            margin-bottom: 20px;
        }


        a {
            position: relative;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                border-radius: 20px;
                width: 100px;
                height: 100px;
                background-color: black;
                color: white;
                opacity: 0;
                transition: all .3s ease-in-out;
            }


            &:hover {
                div {
                    opacity: .5
                }
            }
        }
    }
}

img {
    border-radius: 20px;
}